* {
    margin: 0;
    padding: 0;
    background-color:
        #2D2D2D;
}

a,
li {
    color: #fff !important;
}

.navbar-nav {
    margin-left: 100px;
}

.navbar-nav li {
    margin-left: 50px;
}

.carousel-item img {
    height: 620px;
}

.navbar-toggler {
    border-color: #fff !important;
    /* background-color: transparent !important; */
}

.navbar-toggler-icon {
    background-color: #fff;
}